<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel App</title>
  </head>
  <body>
    <header>
      <h1>Welcome to the travel app</h1>
    </header>
    <main>
      <section class="form-container">
        <form action="" class="trip-form">
          <div class="trip-form--group">
            <label for="city">City *</label>
            <input
              type="text"
              name="city"
              id="city"
              placeholder="Destination city ..."
            />
          </div>
          <div class="trip-form--group">
            <label for="country">Country *</label>
            <input
              type="text"
              name="country"
              id="country"
              placeholder="Destination country ..."
            />
          </div>
          <div class="trip-form--group">
            <label for="departure_date">Departure date *</label>
            <input type="date" name="departure_date" id="departure_date" />
          </div>
          <button id="submit-button">Search</button>
        </form>
      </section>
      <section id="results" class="results-container">
        <div id="trip-info"></div>
        <div id="weather-info"></div>
        <div id="location-image"></div>
      </section>
    </main>
    <footer>
      <h2>Footer</h2>
    </footer>
  </body>
</html>
