<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trabel App</title>
  </head>
  <body>
    <h1>Welcome to the travel app</h1>
    <main>
      <form action="">
        <label for="city">City</label>
        <input type="text" name="city" id="city" />
        <label for="country">Country</label>
        <input type="text" name="country" id="country" />
        <label for="departure_date">Departure date</label>
        <input type="date" name="departure_date" id="departure_date" />
        <button id="submit-button">Search</button>
      </form>
      <section id="results">
        <div id="location-image"></div>
      </section>
    </main>
  </body>
</html>
