$background-color: red;

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-color;
}

strong {
  font-weight: bold;
}

header {
  background-color: grey;
}
footer {
  background-color: yellow;
}

.hidden {
  display: none;
}
.strong {
  font-weight: 800;
}
